@import "tailwindcss";

/* @theme {
  --color-primary-50: orange;
  --color-primary: var(--primary); */

body {
  font-family: sans-serif;
  padding: 4rem;
  transition-duration: 0.5s;
  background-color: var(--bgColor);
  color: var(--fgColor);
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

header {
  box-shadow: inset 0 2px 2px rgb(156, 156, 156), 0 2px 2px rgb(194, 194, 194);
}

h1 {
  font-weight: 1000;
  background-color: blue;
  background-image: url("img.jpg");
  color: transparent;
  background-clip: text;
  background-position: 20% center;
  -webkit-background-clip: text;
  animation: moveBg 1s linear infinite;
}

@keyframes moveBg {
  from {
    background-position: 0% center;
  }
  to {
    background-position: 100% center;
  }
}

img {
  cursor: pointer;
}

.graphics {
  font-size: 10rem;
  font-weight: 1000;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}
.graphic {
  font-size: 10rem;
  font-weight: 1000;
}

h5 {
  font-size: 3rem;
  font-family: "Fira Code";
  font-weight: bolder;
}
